/*

COLOR PALETTE

WHITE: #FEFEFE
BLACK: #000000
TEXT INPUT BACKGROUND: #EEEEEE
ADD BUTTON: #FFCC68
DELETE BUTTON: #FF9548
CHORE: #FBDF7C

*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    text-align: center;
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 4.25rem;
    margin: 4.75rem 0 3.125rem 0;
}

input {
    text-align: center;
    line-height: 5.625rem;
    background-color: #EEEEEE;
}

button {
    padding: 20px 30px;
}

button, input {
    border: 0;
}

button, input, ul {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

button, input, li {
    border-radius: 0.625rem;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    background: #FBDF7C;
    margin: 1rem 0;
    padding: 1.625rem;
}

.container {
    max-width: 56.25rem;
    min-width: 31.25rem;
    margin: 0 auto;
}

.chores {
    margin: 0 auto;
    max-width: 40rem;
    min-width: 21.875rem;
}

.chores-input {
  display: flex;
    gap: 1.125rem;
    flex-wrap: wrap;
    margin-right: 0;
}

.add-btn {
    background: #FFCC68;
}

.delete-btn {
    background: #FF9548;
}

.img {
  width: 18.75rem;
  height: 18.75rem;
  border: 3px solid #ffffff;
  background-position: center;
  background-size: cover;
  margin: 1.25rem auto;
  text-align: centre;
}

.error {
    color: red;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 0.3125rem;
    margin-top: 0.3125rem;
}
