/*

COLOR PALETTE

WHITE: #FEFEFE
BLACK: #000000
TEXT INPUT BACKGROUND: #EEEEEE
ADD BUTTON: #FFCC68
DELETE BUTTON: #FF9548
CHORE: #FBDF7C

*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    text-align: center;
}

h1 {
    font-family: 'Concert One', cursive;
    font-size: 4.25rem;
    margin: 75px 0 50px 0;
}

input {
    text-align: center;
    line-height: 90px;
    background-color: #EEEEEE;
}

/* Tried with padding but the buttons ended up different sizes because of the content */
button {
    width: 80px;
    height: 90px;
}

button, input {
    border: 0;
    margin-right: 15px;
}

button, input, ul {
    font-size: 2rem;
    font-family: "Inter", sans-serif;
}

button, input, li {
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    background: #FBDF7C;
    margin: 15px 5px;
    padding: 26px;
}

.container {
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
}

.chores {
    margin: 0 auto;
    max-width: 640px;
    min-width: 350px;
}

.add-btn {
    background: #FFCC68;
}

.delete-btn {
    background: #FF9548;
    margin-right: 0;
}

.img {
  width: 300px;
  height: 300px;
  border: 3px solid #ffffff;
  background-position: center;
  background-size: cover;
  margin: 20px auto;
  text-align: centre;
}

.error {
    color: red;
    font-size: 1.5rem;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}